body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
h1{
        text-align: center;
        color:  #2c3e50;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
.input-box {
    display: flex;
    gap: 10px;
    justify-content: center; 
    
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
span {
    margin-left: 10px;
}
button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
li button {
    background-color: red;
    color: white;
}
.input-box button {
    background-color: blue;
    color: white;
}
button:hover {
    opacity: 0.8;
}
